{% extends "layout.html"%}
{% block title %}a{% endblock %}
{% block content %}
<style>
  .fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }

  .content-wrapper {
    position: relative;
    z-index: 1;
    color: black;
    padding-top: 0px;
  }
</style>

<img src="{{ url_for('static', filename='images/a.png') }}" class="fullscreen-bg">
<div class="overlay"></div>

<div class="content-wrapper">
  <div class="text-center">
    <h2> Skriv in staden </h2>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="column">
          <form action="/api/weather" method="post">
            <label for="cityname"></label>
            <input type="text" name="cityname" value="{{last_city|safe}}">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if data %}
  <div class="mt-4">
    {{ data|safe }}
  </div>
  <div class="text-center">
    <form action="/api/combo" method="post">
      <input type="hidden" name="cityname" value="{{request.form['cityname']}}">
      <button type="submit" class="btn btn-primary">Search Food</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}